body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #eef2f7 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#toast-container > div {
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Header {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  outline: 1px solid #a6b0eb;
}

.notiZindex {
  position: relative;
  z-index: 100;
}

/* ===============Login Css start============================== */
.mainLogin,
.mainSignUP,
.mainChangePassword,
.mainConfigSetting {
  max-width: 444px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===============Login Css end============================== */
/* .MuiTableCell-root {
  padding: 15px 0px;
  min-width: 150px;
}

.MuiTableContainer-root {
  background-color: #fff;
  position: relative;
  top: 50px;
  padding: 15px 0;
}

.MuiTablePagination-root:last-child {
  margin-top: 50px;
} */

.tableCellPadding {
  padding: 10px 15px;
  white-space: nowrap;
}

.profileMain {
}

.highlightingRow {
  background-color: transparent;
  animation: highlightingAni 1s linear 5;
}

@keyframes highlightingAni {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: #fff9c4;
  }
}

.profileView .backNO {
  box-shadow: none !important;
  border: none !important;
  /* background-color: transparent;
  padding-left: 0 !important; */
}

.profileView .profileTitel {
  font-size: 40px;
  font-weight: 100;
  color: #515151;
}

.profileView h1 {
  margin: 0;
  font-size: 24px;
  color: #303f9f;
  font-weight: 400;
  margin-bottom: 5px;
}

.profileView p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: #747474;
}

.profileView .MuiPaper-elevation1 {
  padding: 10px 24px;
  border-bottom: 3px solid #7257c8de;
}

.mainLoaderBackdrop {
  background-color: rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* =============Added by RK============================ */
.mainFormClass {
  padding: 50px 90px;
}
